<h1>INTERVYU</h1>
<p>Intervyu encompasses all resources and tools to ace the technical round.</p>
<p><b>Intervyu includes PrepMaster , MockIt modules</b></p>

<br>

<h1>Phase 2 : Technical Preparation</h1>
<p>After preparing your company-specific resume and CV, gear up your technical skills for the
    technical round of the interview process.</p>
<p><b>Any company offering job placements will conduct 3 rounds of assessment , namely : </b></p>
<ol>
    <li>Aptitude/MCQs round</li>
    <li>Technical round (coding questions)/group discussions</li>
    <li>Hiring interview (HR round)</li>
</ol>

<br>

<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title> <h3>PrepMaster</h3> </mat-panel-title>
        <mat-panel-description>
            Info regarding the company-specific domain areas focused.
        </mat-panel-description>
    </mat-expansion-panel-header>

    <p>Prepares and Provides you with all the info regarding the company-specific domain
        areas focused on in the coding round of placements and resources needed.</p>
    <p><b>Company-Specific Focus Areas</b></p>
    <table>
        <tr>
            <th>Company</th>
            <th>Focus Area</th>
        </tr>
        <tr>
            <td>Tech Mahindra</td>
            <td>Pure Aptitude</td>
        </tr>
        <tr>
            <td>Infosys</td>
            <td>Pure DSA</td>
        </tr>
        <tr>
            <td>Wipro</td>
            <td>DSA + Aptitude</td>
        </tr>
        <tr>
            <td>Capgemini</td>
            <td>DSA + Aptitude</td>
        </tr>
        <tr>
            <td>Hexaware Technology</td>
            <td>DSA + Aptitude</td>
        </tr>
        <tr>
            <td>TCS</td>
            <td>DSA + Aptitude</td>
        </tr>
        <tr>
            <td>LTIMindtree</td>
            <td>DSA + Aptitude</td>
        </tr>
        <tr>
            <td>Deloitte</td>
            <td>DSA + Aptitude</td>
        </tr>
        <tr>
            <td>Accenture</td>
            <td>DSA + Aptitude</td>
        </tr>
        <tr>
            <td>Cognizant</td>
            <td>DSA + Aptitude</td>
        </tr>
    </table>
</mat-expansion-panel>
<br>
<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title> <h3>MockIt</h3> </mat-panel-title>
        <mat-panel-description>
            Practice Common Interview Questions
        </mat-panel-description>
    </mat-expansion-panel-header>

    <p>MockIt offers a comprehensive suite of resources and mock questions to empower job
        seekers to confidently prepare for technical interviews. It provides detailed insights into each
        interview round, including:</p>
    <ul>
        <li><strong>Aptitude/MCQ Round :</strong>
            <ul>
                <li>Explanation of the round's purpose and question types.</li>
                <li>Relevant subjects and topics covered.</li>
                <li>Practice MCQs with detailed solutions.</li>
            </ul>
        </li>
        <li><strong>Group Discussion (GD) Round :</strong>
            <ul>
                <li>Understanding the GD format and its significance.</li>
                <li>Tips for effective participation in GDs.</li>
                <li>Practice GD topics and scenarios.</li>
            </ul>
        </li>
        <li><strong>Technical Round :</strong>
            <ul>
                <li>A curated list of essential technical topics.</li>
                <li>In-depth learning resources and practice exercises for each topic.</li>
                <li>Mock coding challenges to simulate real-world interview scenarios.</li>
            </ul>
        </li>
        <li><strong>HR Round :</strong>
            <ul>
                <li>Common HR interview questions and effective response strategies.</li>
                <li>Tips for making a strong impression during the HR round.</li>
            </ul>
        </li>
    </ul>
    <p>By leveraging MockIt's resources, job seekers can enhance their technical skills, refine their
        communication abilities, and increase their chances of success in technical interviews.</p>
</mat-expansion-panel>
<br>

