<h3>MCQs</h3>

<p>MCQs, or Multiple-Choice Questions , are a common assessment method used in various fields,
    including job interviews. They are a quick and efficient way to test a candidate's knowledge and
    understanding of a particular subject.</p>
<p><b>Why MCQs are Used in Interviews </b></p>
<ul>
    <li><strong>Objective Assessment :</strong> MCQs provide a standardized and objective way to
        evaluate a candidate's knowledge.</li>

    <li><strong>Efficiency :</strong> They can be quickly administered and scored, making them time-
        efficient for both the interviewer and the candidate.</li>

    <li><strong>Broad Coverage :</strong> MCQs can cover a wide range of topics, allowing interviewers
        to assess a candidate's overall knowledge base.</li>
    <li><strong>Quick Feedback :</strong> MCQs can provide immediate feedback on a candidate's
        performance.</li>
    <li><strong>Reduced Bias :</strong> Well-designed MCQs can minimize bias in the assessment
        process.</li>
</ul>
<p><b>Common Topics Covered in MCQs</b></p>
<ul>
    <li><strong>Technical Subjects :</strong> Programming languages, data structures, algorithms,
        database concepts, operating systems, etc.</li>
    <li><strong>Aptitude :</strong> Quantitative reasoning, logical reasoning, verbal ability, and data
        interpretation.</li>
    <li><strong>Domain-Specific Knowledge :</strong> Industry-specific concepts and terminology.</li>
</ul>
<p>By understanding the purpose and format of MCQs, candidates can effectively prepare for technical
    interviews and increase their chances of success.</p>


<table>
    <tr>
        <th>Programming Language</th>
        <th>YouTube link.</th>
        <th>Notes.</th>
        <th>MCQs</th>
    </tr>
    <tr>
        <td>C</td>
        <td><a href="https://www.youtube.com/watch?v=irqbmMNs2Bo">C course</a></td>
        <td><span (click)="openPDF('CNotes')" class="hyperLink">C Notes</span></td>
        <td><span (click)="openPDF('Cmcq')" class="hyperLink">C MCQ</span></td>
    </tr>
    <tr>
        <td>C++</td>
        <td><a href="https://www.youtube.com/watch?v=z9bZufPHFLU&list=PLfqMhTWNBTe0b2nM6JHVCnAkhQRGiZMSJ">C++ course</a>
        </td>
        <td><span (click)="openPDF('C++Notes')" class="hyperLink">C++ Notes</span></td>
        <td><span (click)="openPDF('C++mcq')" class="hyperLink">C++ MCQ</span></td>
    </tr>
    <tr>
        <td>JAVA</td>
        <td><a href="https://www.youtube.com/watch?v=yRpLlJmRo2w&list=PLfqMhTWNBTe3LtFWcvwpqTkUSlB32kJop">JAVA
                course</a></td>
        <td><span (click)="openPDF('JAVANotes')" class="hyperLink">JAVA Notes</span></td>
        <td><span (click)="openPDF('JAVAmcq')" class="hyperLink">Java MCQ</span></td>
    </tr>
    <tr>
        <td>Computer Networks(CN)</td>
        <td><a href="https://www.youtube.com/watch?v=VwN91x5i25g&list=PLBlnK6fEyqRgMCUAG0XRw78UA8qnv6jEx">CN course</a></td>
        <td><span (click)="openPDF('CNNotes')" class="hyperLink">CN Notes</span></td>
        <td><span (click)="openPDF('CNmcq')" class="hyperLink">CN MCQ</span></td>
    </tr>
    <tr>
        <td>Operating System(OS)</td>
        <td><a href="https://youtube.com/playlist?list=PLBlnK6fEyqRiVhbXDGLXDk_OQAeuVcp2O&si=KrYRpMhSRMKgqElz">OS course</a></td>
        <td><span (click)="openPDF('OSNotes')" class="hyperLink">OS Notes</span></td>
        <td><span (click)="openPDF('OSmcq')" class="hyperLink">OS MCQ</span></td>
    </tr>
    <tr>
        <td>SQL</td>
        <td><a href="https://www.youtube.com/watch?v=hlGoQC332VM">SQL course</a></td>
        <td><span (click)="openPDF('SQLnotes')" class="hyperLink">SQL Notes</span></td>
        <td><span (click)="openPDF('SQLmcq')" class="hyperLink">SQL MCQ</span></td>
    </tr>
    <tr>
        <td>DBMS</td>
        <td><a href="https://youtu.be/c5HAwKX-suM?si=0IJtx_Lb6u0I4ukb">DBMS course</a></td>
        <td><span (click)="openPDF('DBMSNotes')" class="hyperLink">DBMS Notes</span></td>
        <td><span (click)="openPDF('DBMSmcq')" class="hyperLink">DBMS MCQ</span></td>
    </tr>


</table>

<p> Platforms where you can practice further</p>
<li><a href="https://www.geeksforgeeks.org/">GeeksForGeeks</a></li>
<li><a href="https://www.google.com/url?sa=E&source=gmail&q=https://www.sanfoundry.com/">sanfoundry</a></li>
