<div class="container">
    <h1>PrepSphere</h1>
    <h3 style="text-align: center;">The Ultimate interview Prep Guide: Prepare, Practice, Succeed.</h3>
    
    <div class="content">
        <div class="content-left">
            <img src="assets\interview-illustration.jpg" alt="Interview Illustration" style="width: 100%; height: 350px; border-radius:8px;">
        </div>
        <div class="content-right">
            <h2>Prepare for Interview with PrepSphere</h2>
            <ul>
                <li>Best resources</li>
                <li>Mock Questions</li>
                <li>Tailored Resume, CV templates</li>
                <li>Complete info on interview round</li>
                <br>
                <button mat-raised-button routerLink="/roadmap">Explore</button>
            </ul>
        </div>
    </div>
    <div class="why-prepsphere">
        <h2>Why PrepSphere?</h2>
        <p>
            PrepSphere's unique value proposition lies in its comprehensive, end-to-end guidance for job

            seekers.
            Unlike many other platforms that focus solely on specific aspects of the interview process,
            PrepSphere
            offers a holistic approach that covers everything from initial resume preparation to post-
            interview reflection.
        </p>
    </div>
    